.w-80px {
    width: 80px;
}

.w-200px {
    width: 200px;
}

.mt-116px {
    margin-top: 116px;
}

.jumbo-1 {
    height: 586px;
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
}

.jumbo-2 {
    height: 586px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
}

.ps-plus {
    background-color: #BEBCBB;
}

.ps-now {
    background-color: #161c3b;
}

footer {
    background-color: #00439C;
}

.submenu::before {
    content: "\25CF";
    color: blue;
    font-size: 8px;
    padding-right: 1.5em;
    vertical-align: middle;
}

.dropdown-chevron::after {
    content: url(../img/chevron-down-solid.svg);
    width: .7em;
    display: inline-block;
    vertical-align: middle;
}

.dropdown-chevron:active::after {
    content: url(../img/chevron-down-solid.svg);
    width: .7em;
    display: inline-block;
    vertical-align: middle;
    transform: rotate(180deg);
}

header li:not(:first-child),
header li:not(:last-child) {
    padding-left: .2em;
    padding-right: .2em;
}