/* ----------- WIDTHS & HEIGHTS ------------ */
.w-80px {
    width: 80px;
}

.w-100px {
    width: 100px;
}

.w-140px {
    width: 140px;
}

.w-200px {
    width: 200px;
}

.w-60 {
    width: 60%;
}

.mt-116px {
    margin-top: 116px;
}

.h-1-5em {
    height: 1.5em;
}

.fs-lpx {
    font-size: .85rem;
}


/* ----------- MARGINS & PADDINGS ------------ */
header li:not(:first-child),
header li:not(:last-child) {
    margin-left: .15em;
    margin-right: .15em;
}

.brd-radius-20 {
    border-radius: 20px;
}

.border-primary-padding {
    padding: 4px;
    border: 3px solid #0d6efd;
}

footer a.d-block {
    font-size: .9rem;
    padding-top: .8em;
}


/* ----------- ITEMS ------------ */
.jumbo-1 {
    height: 586px;
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
}

.jumbo-2 {
    height: 620px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
}

.ps-plus {
    background-color: #BEBCBB;
}

.ps-now {
    background-color: #161c3b;
}

footer {
    background-color: #00439C;
}

.cursor-pointer {
    cursor: pointer;
}

.submenu::before {
    content: "\25CF";
    color: blue;
    font-size: 10px;
    padding-right: 1.5em;
    line-height: 2em;
    vertical-align: text-top;
}

.dropdown-chevron::after {
    content: url(../img/chevron-down-solid.svg);
    width: .7em;
    display: inline-block;
    vertical-align: middle;
}

.show .dropdown-chevron::after {
    content: url(../img/chevron-down-solid.svg);
    width: .7em;
    display: inline-block;
    vertical-align: middle;
    transform: rotate(180deg);
}

.btn-sand {
    background-color: #d9dadc;
}


/* ----------- EFFECTS ------------ */
.list-shadow:hover {
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.3);
}

.submenu:hover {
    color: #0d6efd !important;
}

header .btn:focus,
header .btn-dark:focus:active,
header .btn-dark:active {
    box-shadow: none;
}

.hover1:hover {
    opacity: 100% !important;
    border-bottom: 2px solid #0d6efd !important;
    transition: all .3s;
}

.hover1:focus {
    opacity: 100% !important;
    border-bottom: 2px solid #0d6efd !important;
}

.btn-dark-inline-border-white:hover {
    box-shadow: inset 0px 0px 0px 2px #212529, inset 0px 0px 0px 4px white;
}

.btn-danger-inline-border-dark:hover {
    box-shadow: inset 0px 0px 0px 2px #bb2d3b, inset 0px 0px 0px 4px #212529;
}

.btn-primary-inline-border-white:hover {
    box-shadow: inset 0px 0px 0px 2px #0d6efd, inset 0px 0px 0px 4px white;
}

.btn-light-inline-border-black:hover {
    box-shadow: inset 0px 0px 0px 2px #f8f9fa, inset 0px 0px 0px 4px black;
}

.btn-sand-inline-border-white:hover {
    box-shadow: inset 0px 0px 0px 2px #d9dadc, inset 0px 0px 0px 4px white;
}

.hover-up:hover {
    transform: translate(0, -20px);
    transition: all .5s;
}