.w-80px {
    width: 80px;
}

.w-200px {
    width: 200px;
}

.mt-116px {
    margin-top: 116px;
}

.jumbo-1 {
    height: 586px;
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
}

.jumbo-2 {
    height: 586px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
}


